<!DOCTYPE html>
<html lang="en" xmlns:th="http://thymeleaf.org">
<head>
  <meta charset="UTF-8">
  <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css"
        integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh" crossorigin="anonymous">
  <title>Update user</title>
</head>
<body>
<form th:method="PATCH" th:action="@{/admin/{id} (id=${user.getId()})}" th:object="${user}">
  <label for="Username">Username</label>
  <input type="text" th:field="*{username}" id="Username">

  <label for="Password">Password</label>
  <input type="text" th:field="*{password}" id="Password">

  <label for="Name">Name</label>
  <input type="text" th:field="*{name}" id="Name">

  <label for="Age">Age</label>
  <input type="text" th:field="*{age}" id="Age">

  <label>Roles:
    <input type="checkbox" name="roles"
           th:each="role : ${allRoles}"
           th:text="${role.name}"
           th:value="${role.id}"
           th:field="*{roles}"
    />
  </label>
  <input type="submit" value="Update!"/>
</form>
</body>
</html>